<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @user.username %>, Welcome to My Blog</h1>
      <p>
      You have successfully sign up!
      your password is: <%= @user.password %>.<br>
    </p>
    <p>
      Please click <%= @url %> to log in the website.
    </p>
    <p>
      Please click <%= @about %> to go to Home.
    </p>
    <p>Thank you for joining! We hope you will love our site!</p>
  </body>
</html>
